<p>
  <strong>Name:</strong>
  <%= @products.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @products.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @products.price %>
</p>

<p>
  <strong>Create:</strong>
  <%= @products.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @products.updated_at %>
</p>
